@import 'nav.css';
@import 'main.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --primary-color: #4a4a4a;
    --secondary-color: #f4f4f4;
    --tertiary-color: #fff;
    --font-color: #000;
    --font-size: 16px;
    --font-weight: 400;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--secondary-color) !important;
    overflow-x: hidden;
    /* justify-content: center; */
    
}